body {
  font-family: 'sans-serif';
}

#events {
	height: 100%;
}

#events h1, #events a {
	color: #59A447;
}

#events h1 {
	font-size: 5em;
}

#events a {
	font-size: 1.5em;
}

#events img {
	width: 100%;
}

