body {
  font-family: sans-serif;
  min-height: 100%;
}

.dc-green-background {
  background: #49A447;
}

.dc-green-foreground {
  color: #49A447;
}

.main-nav {
  width: 100%;
  height: 100px;
  position: fixed;
  padding-left: 2%;
  bottom: 0;
}

.main-nav .vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-nav .vertically-centered ul {
  list-style-type: none;
  max-height: 100%;
  display: inline;
}

.main-nav .vertically-centered .brand_image {
  margin-left: 100px;
}

.main-nav .vertically-centered ul li {
  padding: 0 40px;
  max-height: 100%;
  display: inline;
  font-size: 1.5em;
}

.main-nav .vertically-centered ul li a {
  color: white;
  font-weight: lighter;
}

.brand_image {
  max-height: 50px;
  display: inline;
}

.page
{
    width: 100%;
    padding: 0px 0 150px 0;

    background-color: white;
}

.content
{
    width: 600px;
    margin: 0 auto 0 auto;

    background-color: white;
}

.inline
{
    display: inline-block;
}

.memberPhoto
{
    width: 135px;
    height: 150px;
    margin: 5px;
}

.memberInfo
{
    font-size: 13px;
    margin-bottom: 10px;
    padding: 2px 0 0 5px;
}

.Content
{
    margin-top: 15px;
    max-width: 650px;
}

.eventInfo
{
    font-size: 17px;
    line-height: 19px;
    width: 50%;
    height: 175px;
    padding-top: 10px;
}

.blogInfo {
  max-width: 275px;
  font-size: 15px;
  line-height: 19px;

  height: 200px;
  overflow: scroll;
  padding-top: 10px;
}

h1
{
    font-family: Century Gothic;
    font-size: 80px;
    font-weight: lighter;
    line-height: 65px;

    margin: 10px 0 10px 0;
    padding: 0;

    color: #49a447;
}

a
{
    text-decoration: none;

    color: #49a447;
}

a:hover
{
    color: darkgreen;
}

div.b-link
{
    margin: 50px 0 0 0;
    text-align: right;
}

a.b-link
{
    font-size: 20px;
    font-weight: bold;
}

a.s-link
{
    font-size: 16px;
}
